build 
bin
Backup
Debug
Release
node_modules
*.lib
*ipch
*.filters
*.user
*.suo
*.sdf
*.htm
*.opensdf
*.cd
*.map
*.log
*.opensdf
*.~sql
*.~prc
*.exe
*.ilk
*.ncb
*.vspscc
*.pdsync
*.vssscc
*.zip
*.ntvs_analysis.dat
*.njsproj
obj